
out
.metadata
.vscode

*.so
*.a
*.dylib
*.jnilib
*.dll
*.exe
*.o
*.obj
*.class
*_m.cc
*_m.h
*.tab.hh
*.tab.cc
*.bak
*~
*.orig
*.pdb
*.idb
*.ilk
*.manifest
*.vci
*.pyc
*.out
*.aux
.ccls-cache
.clangd
.vscode/ipch
*/__pycache__/*
*.gdb_history
*.last-copts
.tkenvrc
.tkenvlog
*.cmdenv-log
.qtenvrc
.metadata
.settings
results/
